#header
  .container
    position: relative
    padding: 8px 0
    .brand
      margin: 0
      position:  absolute
      left: 0
      top: 0
      a
        display: block
        background: $pink
        padding: 12px 18px
        color: $white
        +box-shadow(rgba(0, 0, 0, .4) 0 2px 0)
        +text-shadow(rgba(0, 0, 0, .4) 0 2px 0)
        text-decoration: none